body{
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    text-align: left;
    margin: 0 auto;
    padding: 0 62px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container{
    flex-grow: 1;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    text-decoration: none;
    color: #888888;
    margin-right: 16px;
    padding: 3px;
}

header a:hover{
    color: #292626;
    font-weight: bold;
}

.portrait{
    height: 250px;
    width: 250px;
}

input{
    border: 1px solid #cccccc;
    padding: 12px;
    border-radius: 24px;
}

.btn{
    border: 1px solid #888888;
    border-radius: 6px;
    cursor: pointer;
}

footer{
    color: #888888;
    border-top: 2px solid #333333;
}